[Unit]
Description=Daily backup of dotfiles to GitHub

[Service]
Type=simple
ExecStart=/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME push origin master

