[Unit]
Description=pCloud Backup

[Timer]
OnCalendar=daily
Persistent=true
# OnBootSec = 0min
# OnUnitActiveSec=1d



[Install]
WantedBy=timers.target
